h1 {
    color: rgb(211, 59, 198);
}

#thirthDiv ul li img {
    width: 400px;
}

#thirthDiv {
    border: 2px solid red;
    background: cyan;
    height: 600px;
    width: 500px;
    padding: 50px;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}